#quizForm{
    float: left;
    width: 50%;
}

#questionListing{
    margin-left: 50%;
    width: 50%;
}

#quizDescription{
    margin-bottom: 0.5em;
    width: 21.5%;
}

#quizNameEntry, #quizMarks{
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    width: 5%;
}